<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{lang}}">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="{{description}}" />
  <meta name="author" content="{{author}}" />
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #1f1f1f;">
    <tr>
      <td align="center" bgcolor="#1d1d1d" style="padding: 30px 0 10px 0; color: #f1f1f1; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
        <a href="https://signa.space" style=" color: #f1f1f1; font-size: 24px;">Signa</a>
      </td>
    </tr>
    <tr>
      <td align="center" bgcolor="#1d1d1d" style="padding: 0 0 30px 0; color: #f1f1f1; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
        {{{__ "index.tagline"}}}
      </td>
    </tr>
    <tr>
      <td bgcolor="#f1f1f1" style="padding: 40px 30px 40px 30px; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td>
              {{{body}}}
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td bgcolor="#1d1d1d" style="padding: 20px 30px 20px 30px; color: #f1f1f1; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td>
              <a href="https://github.com/Labanotation/signa" style="color: #f1f1f1;">GitHub</a> <a href="https://twitter.com/SignaApp" style="color: #f1f1f1;">Twitter</a> <a href="https://www.facebook.com/SignaLaban" style="color: #f1f1f1;">Facebook</a>
            </td>
            <td style="text-align: right;">
              {{{__ "footer.supportCND"}}} <a href="https://www.cnd.fr/" style="color: #f1f1f1;">CND</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>