<ul class="nav nav-tabs mx-3 mt-3" id="dashboardTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="projects-tab" data-toggle="tab" href="#projects" role="tab" aria-controls="projects"
      aria-selected="false">Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
      aria-selected="false">Profile{{#if dataCompletionRequired}}&nbsp;<span
        class="ml-2 badge badge-pill badge-warning">!</span>{{/if}}</a>
  </li>
</ul>
<div class="tab-content" id="dashboardTabContent">
  <div class="tab-pane fade p-3 mx-3 text-center bg-light" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="card col-md-4 p-lg-1 mx-auto my-1">
      <div class="card-body text-left">
        <h5 class="card-title text-center">Welcome {{user.shortName}}</h5>
        <div class="alert alert-success text-center">
          <p>Work In Progress...</p>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade p-3 mx-3 text-center bg-light" id="projects" role="tabpanel" aria-labelledby="projects-tab">
    &nbsp;
  </div>
  <div class="tab-pane fade p-3 mx-3 text-center bg-light" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <form class="container text-left">
      {{#if dataCompletionRequired}}
      <div class="row">
        <div class="alert alert-warning text-center col-12">
          <span>Merci de bien vouloir compléter votre profil afin de bénéficier d'une meilleure expérience d'utilisation !</span>
        </div>
      </div>
      {{/if}}
      {{#if dataSaved}}
      <div class="row">
        <div class="alert alert-success text-center col-12">
          <span>Merci de bien vouloir compléter votre profil afin de bénéficier d'une meilleure expérience d'utilisation !</span>
        </div>
      </div>
      {{/if}}
      <div class="row">
        <div class="col-3">
          <div class="card text-center">
            <i class="fas fa-user-circle fa-7x my-4"></i>
            <div class="card-body">
              <a href="#" class="btn btn-primary">Modifier</a>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-body p-3">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Compte privé</label>
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Compte indexé</label>
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-9">
          <div class="card">
            <div class="card-body p-3">
              <div class="form-group row">
                <label for="login" class="col-sm-2 col-form-label">Identifiant</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="login" value="{{user.login}}" readonly>
                  <small id="loginHelp" class="form-text text-muted">Votre identifiant demeure invisible aux autres utilisateurs et ne peut pas être modifié.</small>
                </div>
              </div>
              <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Nom</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="name" placeholder="Votre nom complet" value="{{user.name}}">
                  <small id="nameHelp" class="form-text text-muted">Votre nom est associé à tout ce que vous publiez dans la plateforme Signa.</small>
                </div>
              </div>
              <div class="form-group row">
                <label for="formGroupExampleInput2" class="col-sm-2 col-form-label">E-mail</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="formGroupExampleInput2"
                    placeholder="Votre adresse e-mail" value="{{user.email}}">
                  <small id="emailHelp" class="form-text text-muted">Votre adresse e-mail est utilisée pour la validation du compte et comme destinataire des messages autorisés. Elle ne sera jamais communiquée à un tiers.</small>
                </div>
              </div>
              <div class="form-group row">
                <label for="description" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                  <textarea id="description" class="form-control" aria-label="With textarea" placeholder="Another input placeholder">{{user.description}}</textarea>
                </div>
              </div>
              <div class="form-group row">
                <label for="formGroupExampleInput2" class="col-sm-2 col-form-label">Site Web</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="formGroupExampleInput2"
                    placeholder="Another input placeholder">
                </div>
                <label for="formGroupExampleInput2" class="col-sm-2 col-form-label">Occupation</label>
                <div class="col-sm-4">
                  <select class="custom-select custom-select-sm">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="formGroupExampleInput2" class="col-sm-2 col-form-label">Langue</label>
                <div class="col-sm-4">
                  <select class="custom-select custom-select-sm">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <label for="formGroupExampleInput2" class="col-sm-2 col-form-label">Pays</label>
                <div class="col-sm-4">
                  <select class="custom-select custom-select-sm">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="btn-toolbar col-12 justify-content-between">
          <button class="btn btn-danger my-2">Supprimer mon compte</button>
          <button type="submit" class="btn btn-primary my-2" disabled>Enregistrer les modifications</button>
        </div>
      </div>
    </form>
  </div>
</div>

{{#contentFor "pageStyles"}}
<style type="text/css">

</style>
{{/contentFor}}

{{#contentFor "pageScripts"}}
<script type="text/javascript">
  $(function () {
    if ({{ dataCompletionRequired }}) {
      $('#dashboardTab a[href="#profile"]').tab('show')
    } else {
      var url = document.location.toString()
      if (url.match('#')) {
        $('#dashboardTab a[href="#' + url.split('#')[1] + '"]').tab('show')
      } else {
        $('#dashboardTab a[href="#home"]').tab('show')
      }
    }
    $('#dashboardTab a').on('shown.bs.tab', function (e) {
      window.location.hash = e.target.hash
    })
  })
</script>
{{/contentFor}}