<div class="position-relative overflow-hidden p-3 p-md-4 m-md-3 text-center bg-light">
  <div class="card col-md-4 p-lg-1 mx-auto my-1">
    <div class="card-body text-left">
      <h5 class="card-title"><img id="logo-login" src="/images/logo.png" class="mx-4">{{{__ "login.title"}}}</h5>
      <form action="/login" method="post">
        <div class="form-group">
          <label for="login">{{{__ "login.login"}}}</label>
          <input type="text" class="form-control {{#if invalid}}is-invalid{{/if}}" name="login" id="login"
            autocomplete="username" value="" required>
        </div>
        <div class="form-group">
          <label for="password">{{{__ "login.password"}}}</label>
          <input type="password" class="form-control {{#if invalid}}is-invalid{{/if}}" name="password"
            autocomplete="current-password" id="password" value="" required>
          <div class="invalid-feedback">
            {{{__ "login.invalid" }}}
          </div>
          <small id="passwordHelpBlock" class="form-text text-muted text-right">
            <a class="nav-link" href="/forgotpassword">{{{__ "login.forgot"}}}</a>
          </small>
        </div>
        <div class="btn-toolbar justify-content-between">
          <button type="submit" class="btn btn-primary my-2">{{{__ "login.submit"}}}</button>
          <a id="login_signup" href="/signup" class="btn btn-secondary my-2" data-toggle="popover"
            data-placement="right" data-title="{{{__ "Help"}}}" data-content="{{{__ "login.signup_tooltip"}}}"
            role="button">{{{__ "login.signup"}}}</a>
        </div>
      </form>
    </div>
  </div>
</div>

{{#contentFor "pageStyles"}}
<style type="text/css">
  #logo-login {
    height: 32px;
  }
</style>
{{/contentFor}}

{{#contentFor "pageScripts"}}
<script type="text/javascript">
  $(function () {
    if ({{ count }} < 4) {
    setTimeout(() => {
      $('#login_signup').popover('show')
    }, 1000)
  }
})
</script>
{{/contentFor}}