<div class="position-relative overflow-hidden p-3 p-md-4 m-md-3 text-center bg-light">
  <div class="card col-md-4 p-lg-1 mx-auto my-1">
    <div class="card-body text-left">
      <h5 class="card-title">{{{__ "login.title"}}}<img id="logo-login" src="/images/logo.png"></h5>
      <form action="/login" method="post">
        <div class="form-group">
          <label for="login">{{{__ "login.login"}}}</label>
          <input type="text" class="form-control {{#if invalid}}is-invalid{{/if}}" name="login" id="login"
            autocomplete="username" value="" required>
        </div>
        <div class="form-group">
          <label for="password">{{{__ "login.password"}}}</label>
          <input type="password" class="form-control {{#if invalid}}is-invalid{{/if}}" name="password"
            autocomplete="current-password" id="password" value="" required>
          <div class="invalid-feedback">
            Invalid login or password.
          </div>
          <!-- small id="passwordHelpBlock" class="form-text text-muted">
            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces,
            special characters, or emoji.
          </small -->
        </div>
        <!-- div class="orm-group custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="rememberMe">
          <label class="custom-control-label" for="rememberMe">Remember me</label>
        </div -->
        <div class="btn-toolbar justify-content-between">
          <button type="submit" class="btn btn-primary my-2">{{{__ "login.submit"}}}</button>
          <button type="submit" id="login_signup" class="btn btn-secondary my-2" data-toggle="tooltip" data-placement="right"
            title="{{{__ "login.signup_tooltip"}}}">{{{__ "login.signup"}}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{#contentFor "pageStyles"}}
<style type="text/css">
#logo-login {
  height: 32px;
  float: right;
}
</style>
{{/contentFor}}

{{#contentFor "pageScripts"}}
<script type="text/javascript">
$(function () {
  setTimeout(() => {
    $('#login_signup').tooltip('show')
  }, 3000)
})
</script>
{{/contentFor}}